*
{
    box-sizing: border-box;
}

.section-feedback
{
    font-family: Poppins;
    background: url(../../images/bg_3.jpg);
    background-position: bottom;
    background-size: cover; 
    padding: 40px;
    padding-bottom: 160px;
}
.section-feedback .container.flex
{
    display: flex;
}

.section-feedback .container.flex .col .feedback
{
    background: white;
    padding: 20px;
    border-radius: 5px;
    padding-right: 40px;
}

.section-feedback .container.flex .col .feedback .profile .img.person
{
    width: 80px;
    border-radius: 50%;
}

.section-feedback .touristtittle
{
    text-align: center;
    margin-bottom: 90px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
}

.section-feedback .container.flex .col .feedback .profile
{
    display: flex;
    text-align: center;
    margin-top: 25px;
}

.section-feedback .container.flex .col .feedback .profile .description
{
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 500;
}

.section-feedback .container.flex .col
{
    width: 33.33%;
    padding-left: 25px;
}

.section-feedback .container.flex .col .feedback .ptext
{
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 28.8px;
}

.section-feedback .container.flex .col .feedback .profile .description .h2name
{
    font-size: 20px;
    font-weight: 500;
}

.section-feedback .container.flex .col .feedback .profile .description .h3rol
{
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
}