.hero{
    background-image: url("../../images/bg_1.jpg");  
    background-size: cover;
    background-position: top center; 
    font-family: 'Poppins';
    color: white;
    position: relative; 
    min-height: 100vh;
    background-attachment: fixed;
}

.hero .herobb{
    background: linear-gradient(40deg, rgba(47,136,252,0.2) 0%, rgba(255,89,89,0.2) 100%);
    min-height: 100vh;
    position: relative;
}

.hero .header{
    display: flex;
    justify-content: space-between;
}

.hero .header a, .enlaces a{
    text-decoration: none;
    color: white;
}

.hero .vacaciones {
    background: #33313b;
    font-weight: 700;
    font-size: 24px;
    padding: 24px;
    line-height: 1.2;
    text-align: center;
}

.hero .vacaciones span{
    font-size: 12px;
    font-weight: 600;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero .enlaces{
    display: flex;
    margin-top: 33px;
}

.hero .enlaces a{
    font-size: 15px;
    padding: 0 16px;
    font-weight: 400;
}

.hero .enlaces a:hover{
    color: black;
    transition: 1.2s;
}

.hero .enlaces  .orange{
    color: orange;
}

.enlaces span{
    padding: 15px 18px; 
    background: orange;
    border: 1px solid orange;
    border-radius: 2px; 
}

.hero .about{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom:0;
    width: 100%;
    left: 0;
}

.hero .about h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 5%;
}

.hero .aboutbbb{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

.hero .aboutbbb a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.hero .aboutbbb a:hover{
    color: orange;
    transition: 1s;
}

.hero .aboutbbb p{
    color: #f2f2f2;
}
.hero .aboutbb{
    padding-bottom:70px;    
}

.hero .header .menu{
    display: none;
}

.hero .menu-fixed{
    background: white !important;
    box-shadow: 0px 0px 10px 0px black;
}

.hero .menu-fixed .enlaces a{
    color: black;
}

.hero .header-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all 1s;
}

@media screen and (max-width: 991px){
    
    .hero .header .enlaces{
        display: none;
        margin-top: 0;
        width: 100%;
        padding: 0 60px;
    }
    
    .hero .header .enlaces a{
        display: inline-block;
        padding: 20px 0;
        border-bottom: 1px solid #2e2c2c;    
        width: 100%;
    }

    .hero .header-container{
        background: black;
        width: 100%;
        z-index: 9999;
    }
    
    .hero .header{
        align-items: center;
        flex-wrap: wrap;
    }
    
    .hero .header .menu{
        display: block;
        color: gray;
        cursor: pointer;
    }
    
    .hero .header .menu span{
        color: gray;
        font-size: 25px;
        position: relative;
        top: 6px;
        
    }
    
    .hero .header .vacaciones{
        height: 75px;
        align-items: center;
        display: flex;
        z-index: 22;
    }
    

}