*{
    box-sizing: border-box;
}

.hero{
    background-image: url("/images/bg_1.jpg");  
    background-size: cover;
    background-position: center center; 
    font-family: 'Poppins';
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header a, .enlaces a{
    text-decoration: none;
    color: white;
}

.vacaciones {
    background: #33313b;
    font-weight: 700;
    font-size: 24px;
    padding: 24px 23px;
    line-height: 1.2;
    text-align: center;
    margin-left: 68px;
}.vacaciones span{
    font-size: 12px;
    font-weight: 600;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.enlaces{
    margin: 32px 84px 0 0;
}

.enlaces a{
    font-size: 15px;
    padding: 0 18px;
}