
.memorable-section{
    display:flex;
    font-family:'Poppins';
}

.memorable-section .col{
    width:50%; 
}

.memorable-section .col .img{  
    background-image: url("../../images/about.jpg");
    background-position: center center;
    background-size: cover;
    width: 537px;
    height: 521px;
    padding: 0px 8px;
}

.memorable-section .col.padding{
    padding-left: 64px;

}

.memorable-section .n-n, .names, .numbers{
    display:flex;
    justify-content: space-around;
}

.memorable-section .names, .numbers{
    width:100%;
}

.memorable-section .n-n{
    flex-wrap: wrap;
}

.memorable-section .memo-h2{
    font-size: 41px;
    margin-top: 50px;
    font-weight: 600;
    color: #343434;
}

.memorable-section .memo-p{
    margin: 35px 0;
    letter-spacing: 0.5px;
    color:#a2a2a2;
}

.memorable-section .caja-de-mierda{
    text-align: center;
    color:#a2a2a2;
}

.memorable-section .numbers{
    font-size: 24px;
    font-weight: 600;
}

.memorable-section h3{
    font-size: 24px;
    font-weight: 600;
    color:#f9ab31;
}

.memorable-section .caja-de-mierda div{
    font-size:14px;
}