<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Adventure-section</title>
</head>
<body>
    <div class="box-adventure-section">
        <div class="box-adventure-sectionbb">
            <div class="box-adventure-sectionjrs">
                <ion-icon name="paper-plane"></ion-icon>
                <h3>Activities</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                <ion-icon name="compass"></ion-icon>
                <h3>Travel Arrangements</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
            </div>
            <div class="box-adventure-sectionjrs">
                <ion-icon name="person"></ion-icon>
                <h3>Private Guide</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                <ion-icon name="map"></ion-icon>
                <h3>Location Manager</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
            </div>
        </div>
        <div class="box-adventure-sectionbb">
            <h2>It's time to start your adventure</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <a href="destination.html">Search Destination</a>
        </div>
    </div>
</body>
</html>