<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="category">
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Travel</div>
                    <div class="text-gray">(12)</div>
                </a>              
            </div>
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Tour</div>
                    <div class="text-gray">(22)</div>
                </a>              
            </div>
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Destination</div>
                    <div class="text-gray">(37)</div>
                </a>
           </div>
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Drinks</div>
                    <div class="text-gray">(42)</div>
                </a>
           </div>
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Foods</div>
                    <div class="text-gray">(14)</div>
                </a>
           </div>
            <div class="box-category">
                <a href="#">
                    <div class="text-black">Travel</div>
                    <div class="text-gray">(149)</div>
                </a>
           </div>
        </div>
    </div>
</body>
</html>