<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="comment">
            <div class="flex-2">
                <div class="iconprofile">
                    <img src="../images/person_1.jpg" alt="">
                </div><!--Cierre inconprofile-->
                <div class="description">
                    <h2>John Doe</h2>
                    <p class="date">OCTOBER 03, 2018 AT 2:21PM</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae facere labore, saepe eaque cupiditate nemo possimus, reiciendis, quia quaerat odit animi quidem quas temporibus a error autem veritatis placeat quod.</p>
                    <a href="#" class="buttomsend">REPLY</a>
                </div><!--Cierre description-->
            </div><!--Cierre flex-2-->
            
            
            <!-- COMENTARIOS ANIDADOS -->   
            
            
            <div class="comment">
                <div class="flex-2">
                    <div class="iconprofile">
                        <img src="../images/person_1.jpg" alt="">
                    </div><!--Cierre inconprofile-->
                    <div class="description">
                        <h2>John Doe</h2>
                        <p class="date">OCTOBER 03, 2018 AT 2:21PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae facere labore, saepe eaque cupiditate nemo possimus, reiciendis, quia quaerat odit animi quidem quas temporibus a error autem veritatis placeat quod.</p>
                        <a href="#" class="buttomsend">REPLY</a>
                    </div><!--Cierre description-->
                </div><!--Cierre flex-2-->
            </div><!--Cierre comment-->
            
            
            <!-- COMENTARIOS ANIDADOS -->
        </div><!--Cierre comment-->
    </div><!--Container-->
</body>
</html>