<!DOCTYPE html>
<html lang="es">
<head>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">

  <style>
  	.destination-grid{
      display: flex;
      flex-wrap: wrap;
    }
    .destination-col{
      width: 33.3%;
    }
  </style>
</head>
<body>
 <div class="container">
  <div class="destination-grid">

    <div class="destination-col">
      <div class="destination">
        <a href="">
          
          <div class="image" style="background-image: url('../images/destination-1.jpg')">
          </div><!--cierre image-->
          <div class="precio">$300/person</div>
          <div class="days">8 days tour</div>
          <div class="destiny">Bali, Indonesia</div>
          <div class="destiny2">Bali, Indonesia</div>
          <div class="infodestiny">
            <ion-icon name="bed"></ion-icon>
            <span>2</span> 
            <ion-icon name="bed"></ion-icon>
            <span>3</span>
            <ion-icon name="bed"></ion-icon>
            <span>Near Mountain</span>
            
          </div>
          
        </a>
      </div>
    </div><!--cierre destination-col-->
  </div><!--cierre destination-grid-->
</div><!--cierre container-->


</body>
</html>