<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
    <section class="section-feedback">
        <h2 class="touristtittle">Tourist Feedback</h2>
        <div class="container">
            <div class="flex">
                <div class="col">
                    <div class="feedback">
                        <p class="ptext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <div class="profile">
                            <div class="image"><img class="img person" src="../images/person_1.jpg" alt="">
                            </div><!--Close image-->
                            <div class="description">
                                <h2 class="h2name">Roger Scott</h2> 
                                <h3 class="h3rol">Marketing Manager</h3>
                            </div><!--Close Description-->
                        </div><!--Close profile-->
                    </div><!--Close feedback-->
                </div><!--Close col-->
                
                <div class="col">
                    <div class="feedback">
                        <p class="ptext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <div class="profile">
                            <div class="image"><img class="img person" src="../images/person_1.jpg" alt="">
                            </div><!--Close image-->
                            <div class="description">
                                <h2 class="h2name">Roger Scott</h2> 
                                <h3 class="h3rol">Marketing Manager</h3>
                            </div><!--Close Description-->
                        </div><!--Close profile-->
                    </div><!--Close feedback-->
                </div><!--Close col-->
                
                <div class="col">
                    <div class="feedback">
                        <p class="ptext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <div class="profile">
                            <div class="image"><img class="img person" src="../images/person_1.jpg" alt="">
                            </div><!--Close image-->
                            <div class="description">
                                <h2 class="h2name">Roger Scott</h2> 
                                <h3 class="h3rol">Marketing Manager</h3>
                            </div><!--Close Description-->
                        </div><!--Close profile-->
                    </div><!--Close feedback-->
                </div><!--Close col-->
            </div><!--Close flex-->
        </div>   
    </section>
    
    
    
</body>
</html>