*
{
    box-sizing: border-box;
}

.section-feedback
{
    font-family: Poppins;
    background: url(../images/bg_3.jpg);
    background-position: bottom;
}
.container.flex
{
    display: flex;
}

.feedback
{
    width: 33.33%;
    background: white;
    margin-bottom: 20px;
}

.img.feedback
{
    width: 80px;
    border-radius: 50%;
}

.touristtittle
{
    text-align: center;
}

.profile
{
    display: flex;
    text-align: center;
    margin-top: 25px;
}

.description h3, .description h2
{
    font-weight: 500;
}

.description h3, p
{
    color: grey;
}