<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
    <section class="section-feedback">
        <h2 class="touristtittle">Tourist Feedback</h2>
        <div class="container flex">
            <div class="feedback">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <div class="profile">
                    <div class="image"><img class="img feedback" src="/images/person_1.jpg" alt="">
                    </div><!--Close image-->
                    <div class="description">
                        <h2>Roger Scott</h2> 
                        <h3>Marketing Manager</h3>
                    </div><!--Close Description-->
                </div><!--Close profile-->
            </div><!--Close feedback-->
            
        </div>
    </section>



</body>
</html>