<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
    <div class="container">
        <div class="footer">
            <div class="footer-col">
                <div class="footer-titulos">Vacation</div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="redes-footer">
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Information</div>
                <div class="link-footer">
                    <a href="#">Online Enquiry</a>
                    <a href="#">General Enquiries</a>
                    <a href="#">Booking Conditions</a>
                    <a href="#">Privacy and Policy</a>
                    <a href="#">Refund Policy</a>
                    <a href="#">Call Us</a>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Experience</div>
                <div class="link-footer">
                    <a href="#">Adventure</a>
                    <a href="#">Hotel and Restaurant</a>
                    <a href="#">Beach</a>
                    <a href="#">Nature</a>
                    <a href="#">Camping</a>
                    <a href="#">Party</a>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Have a Questions?</div>
                <div class="bloque-footer">
                    <ion-icon name="pin"></ion-icon>
                    <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                </div>
                <div class="bloque-footer">
                    <ion-icon name="call"></ion-icon>
                    <p><a href="#">+2 392 3929 210</a></p>
                </div>
                <div class="bloque-footer">
                    <ion-icon name="mail"></ion-icon>
                    <p><a href="#">info@yourdomain.com</a></p>
                </div>
            </div>
        </div><!--cierra footer-->
    </div> <!--cierra container-->
    
</body>
</html>