<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
</head>
<body>
    
    <footer>
        <div class="container">
        <div class="container-footer">
            <div class="footer-col">
                <div class="footer-titulos">Vacation</div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="redes-footer">
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Information</div>
                <div class="link-footer">
                    <ul>
                        <li> <a href="#">Online Enquiry</a> </li>
                        <li> <a href="#">General Enquiries</a> </li>
                        <li> <a href="#">Booking Conditions</a> </li>
                        <li> <a href="#">Privacy and Policy</a> </li>
                        <li> <a href="#">Refund Policy</a> </li>
                        <li> <a href="#">Call Us</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Experience</div>
                <div class="link-footer">
                    <ul>
                        <li> <a href="#">Adventure</a> </li>
                        <li> <a href="#">Hotel and Restaurant</a> </li>
                        <li> <a href="#">Beach</a> </li>
                        <li> <a href="#">Nature</a> </li>
                        <li> <a href="#">Camping</a> </li>
                        <li> <a href="#">Party</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-col">
                <div class="footer-titulos">Have a Questions?</div>
                <div class="bloque-footer">
                    <ion-icon class="footer-pin" name="pin"></ion-icon>
                    <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                </div>
                <div class="bloque-footer">
                    <ion-icon class="footer-call" name="call"></ion-icon>
                    <a href="#">+2 392 3929 210</a>
                </div>
                <div class="bloque-footer">
                    <ion-icon class="footer-mail" name="mail"></ion-icon>
                    <a href="#">info@yourdomain.com</a>
                </div>
            </div>
    </div> <!--cierra container-footer-->
    <div class="textofinal-footer">Copyright &copy; 2019 All rights reserved &verbar; This template is made with &hearts; by Colorlib</div>
    </div> <!--cierra container-->
</footer>
</body>
</html>