<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Hero</title>
</head>
<body>
    
    <div class="hero">  
        <!--img-Hero-->  
        <div class="herobb">
            <!--gradient-Hero-->  
            <div class="header-container">
                <!--Header-Container-->
                <div class="container">
                    <!--Container-->
                    <div class="header">  
                        <!--Header-Hero-->     
                        <div class="vacaciones">
                            <a href="#" class="vacaciones-a">Vacation <span>Travel Agency</span></a>
                        </div>
                        <div class="menu">
                            <span><ion-icon name="menu"></ion-icon></span>
                            MENU
                        </div>
                        <div class="enlaces">
                            <!--Nav-Hero-->
                            <a href="home.html">Home</a>
                            <a href="about.html" class="orange">About</a> 
                            <a href="destination.html">Destination</a>
                            <a href="blog.html">Blog</a>
                            <a href="contact.html">Contact</a>
                            <a href="booknow.html"><span>Book Now</span></a>
                            <!--Nav-Hero-->
                        </div>
                        <!--Header-Hero-->
                    </div>
                    <!--Container-->    
                </div>
                <!--Header-Container-->
            </div>
            <div class="about">
                <div class="aboutbb">
                    <h1>About Us</h1>
                    <div class="aboutbbb">
                        <a href="home.html">Home ></a>
                        <p>About Us></p>
                    </div>
                </div>
            </div>
            <!--gradient-Hero-->
        </div>
        <!--img-Hero-->  
    </div>
    
</body>
</html>