<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <style>
            .tour-grid{
              display: flex;
              flex-wrap: wrap;
            }
            .tour-col{
                width: 33%;
            }
        </style>
</head>
<body>
    <div class="container">
    <div class="tour-grid">
        <div class="tour-col">
            
        <div class="post">
            <div class="post-img">
                <img src="../images/image_1.jpg" alt="">
                <div class="post-fecha">
                    <div class="post-numero">21</div>
                    <p>2019 <br> August</p>
                </div>
            </div>
            <h4>Why Lead Generation is Key for Business Growth</h4>
            <h3>A small river named Duden flows by their place and supplies it with the necessary regelialia.</g3>
        </div>
    </div>
    </div>
</div>
</body>
</html>