<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tag</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="tags">
            <a href="#">DISH</a>
            <a href="#">MENU</a>
            <a href="#">FOOD</a>
            <a href="#">SWEET</a>
            <a href="#">TASTY</a>
            <a href="#">DELICIOUS</a>
            <a href="#">DESSERTS</a>
            <a href="#">DRINKS</a>
        </div><!--cierra tag-->
    </div> <!--cierra container-->
</body>
</html>