<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">


  <style>
  	.tour-grid{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
  	}
  	.tour-col{
		display:flex;
		padding:10px;
	}
  </style>

</head>
<body>
  	<div class="container">
  		<div class="tour-grid">

			<!--tour-->
  			<div class="tour-col">
  				<div class="tour">
					<a href="#" class="img-tour">
						<h2>
							Singapore
						</h2>

						<div class="n-tour">
							8 Tours
						</div>
					</a>
				</div>
			</div>
			<!--fin tour-->

			<!--tour-->
			<div class="tour-col">				
				<div class="tour">				  
				  	<a href="#" class="img-tour">
					  	<h2>
							Singapore
					  	</h2>
					  	<div class="n-tour">
							8 Tours
					 	</div>
					  </a>					  
				</div>
			</div>
			<!--fin tour-->

			<!--tour-->
			<div class="tour-col">
				<div class="tour">				  
				  	<a href="#" class="img-tour">
					  	<h2>
						Singapore
					  	</h2>

					  	<div class="n-tour">
							8 Tours
					  	</div>
					  </a>					  
			  	</div>
			</div>
			<!--fin tour-->

			<!--tour-->
		  	<div class="tour-col">
				<div class="tour">			  
			  		<a href="#" class="img-tour">
				 		<h2>
					  	Singapore
				  		</h2>

				  		<div class="n-tour">
					  	8 Tours
				  		</div>
					</a>					  
		  		</div>
			</div>
			<!--fin tour-->   
			  
  		</div><!--Fin del grid-->
  	</div><!--Fin del container-->
	

</body>
</html>