<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="grid">
            <div class="col-vacation-icon">
                <div class="vacation-icon">
                    <div class="icon-locate">
                        <ion-icon name="locate"></ion-icon>
                    </div><!--Close icon-locate-->
                    <div class="text-icon-content">
                        <br>
                        <h2>Address</h2>
                        <p class="color999">198 West 21th Street, Suite <br>
                            721 New York NY 10016</p>
                        </div><!--Close text-icon-content-->
                    </div><!--Close vacation-icon-->
                </div><!--Close col-vacation-icon-->
                
                <div class="col-vacation-icon">
                    <div class="vacation-icon">
                        <div class="icon-locate">
                            <ion-icon name="call"></ion-icon>
                        </div><!--Close icon-locate-->
                        <div class="text-icon-content">
                            <br>
                            <h2>Contact Number</h2>
                            <a href="#">+ 1235 2355 98</a>
                        </div><!--Close text-icon-content-->
                    </div><!--Close vacation-icon-->
                </div><!--Close col-vacation-icon-->
                
                <div class="col-vacation-icon">
                    <div class="vacation-icon">
                        <div class="icon-locate">
                            <ion-icon name="paper-plane"></ion-icon>
                        </div><!--Close icon-locate-->
                        <div class="text-icon-content">
                            <br>
                            <h2>Email Address</h2>
                            <a href="#">info@yoursite.com</a>
                        </div><!--Close text-icon-content-->
                    </div><!--Close vacation-icon-->
                </div><!--Close col-vacation-icon-->
                
                <div class="col-vacation-icon">
                    <div class="vacation-icon">
                        <div class="icon-locate">
                            <ion-icon name="globe"></ion-icon>
                        </div><!--Close icon-locate-->
                        <div class="text-icon-content">
                            <br>
                            <h2>Website</h2>
                            <a href="redtube.com">redtube.com</a>
                        </div><!--Close text-icon-content-->
                    </div><!--Close vacation-icon-->
                </div><!--Close col-vacation-icon-->
            </div><!--Close grid-->
        </div><!--Closen container-->
    </body>
    </html>