.destination-view .tour-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:-10px;
    margin-right:-10px;
    
}
.destination-view .tour-col{
    width:25%;
    padding:10px;
}


.destination-view .search{
    margin: 85px 0;
}


.destination-view .flex-3{
    display: flex;
    flex-wrap: wrap;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom: 40px;
}

.destination-view .flex-3 .col{
    width: 33.33%;
    padding:10px;
}

@media screen and (max-width:768px){
    .destination-view .tour-col{
        width:100%;
        
    }

    .destination-view .flex-3 .col{
        width:50%;
    }

    .destination-view .flex-3 {
        justify-content: center;
    }
}

@media screen and (max-width:600px){

    .destination-view .flex-3 .col{
        width:100%;
    }

}

